extends ./layout.pug

block title
    title Console #{dockerId} - Docker Station
    
block content
    div(class='console-container')
        textarea(class='console', spellcheck='false') dockerstation@#{dockerId}:  
