extends ./layout.pug

block title
    title Console #{dockerId} - Docker Station
    
block content
    div(class='console-container')
        textarea(id='console', spellcheck='false')  

block after
    script(src='/js/console.js')
    script initConsole('#{dockerId}')
