extends ./layout.pug

block title
    title Docker Station
    
block content
    div(class='main-wrapper')
        h2 Local images:
        div(id='image_list')
            
block after
    script startBridge('#{ip}', #{port})
