doctype html
html
    head
        block title
        link(rel="stylesheet", href="css/style.css")
        script(src="js/global.js")
        
    body
        block content
        script(src="js/connection.js")
        block after
